In [2]:
import os
import csv
import pandas as pd
import tensorflow as tf
import numpy as np

In [3]:
maindirectory = os.getcwd()
print(maindirectory)

C:\Users\Jae\Documents\GitHub\NBA_Result_Predictor

In [4]:
team_stats = pd.read_csv("./Data/teams/team_stats")
results = pd.read_csv("./Data/results/game_results")

In [65]:
print(team_stats.head(10))
print(results.head(10))
print(team_stats["TEAM"])

  RANK           TEAM  POINTS_OWN  POINTS_OPP  POINTS_DIFF  FG PCT_OWN  \
0    6    LA Clippers       108.7       104.4          4.3       0.475
1    4      Cleveland       110.3       107.2          3.1       0.470
2    9        Phoenix       107.7       113.3         -5.6       0.450
3    3         Denver       111.7       111.2          0.5       0.469
4   29        Memphis       100.5       100.0          0.5       0.435
5   30         Dallas        97.9       100.8         -2.9       0.440
6   13      Minnesota       105.6       106.7         -1.1       0.467
7   23        Chicago       102.9       102.4          0.5       0.444
8    5     Washington       109.2       107.4          1.8       0.475
9   11  Oklahoma City       106.6       105.8          0.8       0.452

   FG PCT_OPP  3PT PCT_OWN  3PT PCT_OPP  3PT PCT_FT%  REBOUND PCT_OFF  \
0       0.452        0.375        0.350        0.745            0.215
1       0.458        0.384        0.361        0.748            0.219
2       0.467        0.332        0.382        0.776            0.260
3       0.477        0.368        0.375        0.774            0.273
4       0.443        0.354        0.354        0.784            0.248
5       0.469        0.355        0.380        0.801            0.181
6       0.475        0.349        0.366        0.799            0.272
7       0.456        0.340        0.345        0.798            0.270
8       0.466        0.372        0.364        0.784            0.241
9       0.459        0.327        0.356        0.745            0.279

   REBOUND PCT_DEF  REBOUND PCT_TOT  TURNOVERS_OWN  TURNOVERS_OPP
0            0.769            0.499           12.5           12.6
1            0.758            0.497           13.2           12.0
2            0.764            0.505           14.9           14.5
3            0.787            0.532           14.5           11.5
4            0.775            0.504           12.4           13.6
5            0.776            0.464           11.2           14.5
6            0.759            0.512           13.4           13.8
7            0.768            0.517           13.0           12.9
8            0.755            0.499           13.5           14.8
9            0.790            0.534           14.6           13.2
             Visitor Team Visitor Points               Home Team Home Points
0         New York Knicks             88     Cleveland Cavaliers         117
1       San Antonio Spurs            129   Golden State Warriors         100
2               Utah Jazz            104  Portland Trail Blazers         113
3           Brooklyn Nets            117          Boston Celtics         122
4        Dallas Mavericks            121          Indiana Pacers         130
5         Houston Rockets            114      Los Angeles Lakers         120
6  Minnesota Timberwolves             98       Memphis Grizzlies         102
7       Charlotte Hornets            107         Milwaukee Bucks          96
8          Denver Nuggets            107    New Orleans Pelicans         102
9              Miami Heat            108           Orlando Magic          96
0       LA Clippers
1         Cleveland
2           Phoenix
3            Denver
4           Memphis
5            Dallas
6         Minnesota
7           Chicago
8        Washington
9     Oklahoma City
10     Philadelphia
11          Houston
12         Brooklyn
13            Miami
14        LA Lakers
15          Atlanta
16         New York
17          Toronto
18     Golden State
19        Charlotte
20        Milwaukee
21          Indiana
22             Utah
23       Sacramento
24           Boston
25      New Orleans
26          Orlando
27      San Antonio
28          Detroit
29         Portland
Name: TEAM, dtype: object

In [44]:
print(team_stats["RANK"])

0      6
1      4
2      9
3      3
4     29
5     30
6     13
7     23
8      5
9     11
10    25
11     2
12    12
13    21
14    17
15     ?
16     ?
17    10
18     1
19    16
20    20
21    15
22    28
23    24
24     7
25    18
26    27
27    14
28    26
29     8
Name: RANK, dtype: object

In [49]:
team_to_id = {}
id_to_team = {}

for i,team in enumerate(list(team_stats["TEAM"])):
    team_to_id[i] = team
    id_to_team[team] = i

print(team_to_id, id_to_team)

{0: 'LA Clippers', 1: 'Cleveland', 2: 'Phoenix', 3: 'Denver', 4: 'Memphis', 5: 'Dallas', 6: 'Minnesota', 7: 'Chicago', 8: 'Washington', 9: 'Oklahoma City', 10: 'Philadelphia', 11: 'Houston', 12: 'Brooklyn', 13: 'Miami', 14: 'LA Lakers', 15: 'Atlanta', 16: 'New York', 17: 'Toronto', 18: 'Golden State', 19: 'Charlotte', 20: 'Milwaukee', 21: 'Indiana', 22: 'Utah', 23: 'Sacramento', 24: 'Boston', 25: 'New Orleans', 26: 'Orlando', 27: 'San Antonio', 28: 'Detroit', 29: 'Portland'} {'Memphis': 4, 'Brooklyn': 12, 'Miami': 13, 'Toronto': 17, 'Chicago': 7, 'Cleveland': 1, 'Portland': 29, 'Philadelphia': 10, 'LA Lakers': 14, 'Denver': 3, 'Golden State': 18, 'Washington': 8, 'Utah': 22, 'Detroit': 28, 'Atlanta': 15, 'Charlotte': 19, 'Houston': 11, 'Oklahoma City': 9, 'New York': 16, 'Boston': 24, 'Minnesota': 6, 'Indiana': 21, 'Phoenix': 2, 'Orlando': 26, 'Dallas': 5, 'San Antonio': 27, 'LA Clippers': 0, 'New Orleans': 25, 'Milwaukee': 20, 'Sacramento': 23}

In [60]:
np_team_stats = team_stats.as_matrix()
team_to_input = {}

def team_to_inputs():
    for stats in np_team_stats:
        team = stats[1]
        if(stats[0] == "?"):
            print(stats[1])
            continue
        team_to_input[team] = [x for i, x in enumerate(stats) if i != 1]
        
team_to_inputs()
print(team_to_input.keys())

Atlanta
New York
dict_keys(['Memphis', 'Brooklyn', 'Miami', 'Toronto', 'Chicago', 'Cleveland', 'Portland', 'Philadelphia', 'LA Lakers', 'Denver', 'Golden State', 'Washington', 'Utah', 'Charlotte', 'Houston', 'Oklahoma City', 'San Antonio', 'Boston', 'Minnesota', 'Indiana', 'Phoenix', 'Orlando', 'Dallas', 'Detroit', 'LA Clippers', 'New Orleans', 'Milwaukee', 'Sacramento'])

In [64]:
np_results = results.as_matrix()

total_teams = set()
team_inputs = []
outputs = []
for row in np_results:
    team1 = row[0]
    team2 = row[2]
    points1 = row[1]
    points2 = row[3]
    total_teams.add(team1)
    total_teams.add(team2)
print(total_teams)

{'91', '95', '123', '115', 'Boston Celtics', 'Philadelphia 76ers', 'at London, England', '89', '98', '93', '102', '125', 'Chicago Bulls', '142', '114', 'Indiana Pacers', 'Utah Jazz', '112', 'Houston Rockets', '137', '127', '118', 'New Orleans Pelicans', 'Washington Wizards', '109', 'Golden State Warriors', '87', '120', '107', '122', 'Minnesota Timberwolves', 'Oklahoma City Thunder', 'Dallas Mavericks', '103', '96', '110', '144', 'Orlando Magic', '108', 'Cleveland Cavaliers', 'Brooklyn Nets', 'Los Angeles Clippers', '104', '121', '126', '86', 'Miami Heat', 'at Mexico City, Mexico', '111', 'Phoenix Suns', 'Denver Nuggets', 'Charlotte Hornets', '119', '73', 'Toronto Raptors', '129', '113', 'Sacramento Kings', 'Milwaukee Bucks', '99', '143', 'New York Knicks', '116', '106', 'San Antonio Spurs', '78', '105', '117', '124', '101', '97', '100', 'Los Angeles Lakers', '88', '85', 'Detroit Pistons', 'Portland Trail Blazers', 'Atlanta Hawks', '94', '128', '139', '92', 'Memphis Grizzlies', '83'}